.swiper-pagination-bullet-active {

    background-color: #41a65b !important;
}

.kLsxPf {
    background-color: rgba(65, 166, 91, 0.15) !important;
    height: 8px !important;
    margin-bottom: 10px;
}

.cwzysi {
    background-color: #41a65b !important;
}
