# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
/node_modules/*
!/node_modules/@pancakeswap
/node_modules/@pancakeswap/*
!/node_modules/@pancakeswap/uikit
/node_modules/@pancakeswap/uikit/dist/*
!/node_modules/@pancakeswap/uikit/dist/index.esm.js
node_modules/@pancakeswap/uikit/LICENSE
node_modules/@pancakeswap/uikit/package.json
node_modules/@pancakeswap/uikit/README.md
/.pnp
.pnp.js
yarn.lock

# testing
/coverage
cypress/videos
cypress/screenshots
cypress/fixtures/example.json

# next.js
/.next/
/out/
.idea/

# production
/build

# misc
.DS_Store
.eslintcache

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*

# But not these files...

