.buySeed {
    width: 100vw;
    /* height: calc(100vh - 100px); */
    background: #fff8dd;
    padding: 100px 0px;
}

.card-container {
    width: 326px;
    height: 489px;
    background: #ffffff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 6px 24px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin: 0px auto;
    padding: 20px;
    display: table;
}

.card-container h3 {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 12px;
    color: #002c00;
}

.text-wrapper {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #002c00;
}

.text-container-offer {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.text-container-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px 12px;
}

.text-container-brand .icon {
    display: flex;
    align-items: center;
}

.text-container-brand .icon img {
    margin-right: 20px;
}

.text-container-brand .icon span {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #002c00;
}

.input-container .input-field {
    background: rgba(0, 44, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 6px 24px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    height: 56px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: right;
    color: #000000;
}

.img-center {
    display: flex;
    justify-content: center;
    margin: 12px auto;
}

.my-2 {
    margin: 2px 0px 10px;
}

.button-popup {
    text-align: center;
}

.button-popup .seed-btn {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #fffcf1;
    background: #41a65b;
    border-radius: 43px;
    padding: 8px 12px;
    border: 0px;
    margin: 28px 0px 0px;
}

.kLsxPf {
    background-color: rgba(65, 166, 91, 0.15) !important;
    height: 8px !important;
    margin-bottom: 10px;
}

.cwzysi {
    background-color: #41a65b !important;
}

.input-container .input-field::placeholder {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: right;
    color: #000000;
}

.slider-content h2 {
    font-family: "Fredoka";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    color: #002c00;
        margin-bottom: 30px;
}

.slider-content p {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #002c00;
    max-width: 550px;
    margin: 0px auto 30px;
}
.slider-container {
    display: flex;
    height: calc(100vh - 152px);
    align-items: center;
}
.content-body {
    height: 100vh;
    width: 100%;
    position: relative;
    background: radial-gradient(50% 50% at 50% 50%,
            rgba(65, 166, 91, 0.15) 0%,
            rgba(196, 196, 196, 0) 100%,
            rgba(65, 166, 91, 0) 100%);
    padding-top: 50px;
}
.page-dots-container{
top: -170px!important;
background: radial-gradient(50% 50% at 50% 50%, rgba(65, 166, 91, 0.15) 0%, rgba(196, 196, 196, 0) 100%, rgba(65, 166, 91, 0) 100%);
}
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.header-icon {
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.header-icon i {
    color: #41a65b;
    margin-right: 8px;
}

.header .btn {
    border-radius: 43px;
    background: linear-gradient(270deg, #41a65b 0%, #0b5e20 100%);
    height: 35px;
    width: 137px;
}

.carousel {
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 655px;
}

.carousel-indicators {
    bottom: 20px;
}

.carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #7bcc8f;
}

.carousel-indicators li.active {
    background-color: #002c00;
}

.carousel-indicators li:not(:last-child) {
    margin-right: 10px;
}

.carousel-item {
    text-align: center;
}

.carousel-item h1 {
    color: #002c00;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: Fredoka;
}

.carousel-item p {
    color: #002c00;
    font-size: 18px;
    font-weight: 400;
    font-family: Manrope;
}

.para-text {
    width: 90%;
    margin: 0 auto;
}
.seed-btn {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 165px;
    background-color: #41A65B !important;
    border-radius: 43px !important;
    font-size: 24px !important;
    font-family: Fredoka;
    font-style: normal;
    font-weight: 700;
}
.ksnaJT{
    background-color: #41A65B !important;
}
.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    display: flex;
}

.social-links li {
    color: #002c00;
    font-size: 15px;
}

.social-links li:not(:last-child) {
    margin-right: 10px;
}

.modal .modal-content {
    border: 0;
}

.modal .modal-body {
    height: calc(100vh - 108px);
    background: radial-gradient(50% 50% at 50% 50%,
            rgba(65, 166, 91, 0.15) 0%,
            rgba(196, 196, 196, 0) 100%,
            rgba(65, 166, 91, 0) 100%);
}

.modal .modal-body .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: 0;
}

.modal .modal-body .close span {
    font-size: 23px;
}

.footer-area-icons {
    display: flex;
    justify-content: center;
}




/* new css */


.hero-heading {
    /* position: absolute;
    width: 289px;
    height: 83px;
    left: 546px;
    top: 165px; */

    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;

    /* Dark Green */

    color: #002C00;
}


.para-content {
    /* position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: -800%;
   */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    /* Dark Green */

    color: #002C00;
}

.txt-bold {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    /* Dark Green */

    color: #002C00;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {

    max-width: 550px;
}

.input-controller {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#WhiteListingForm .form-group input {
    width: 250px;
    height: 45px;
    background: rgba(0, 44, 0, 0.2);
    /* Card Shadow */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 6px 24px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    border: none;
}

#WhiteListingForm .form-group-mail input {
    width: 100%;
    height: 45px;
    background: rgba(0, 44, 0, 0.2);
    /* Card Shadow */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 6px 24px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    border: none;
}

#WhiteListingForm ::placeholder {
    /* Edge */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    height: 20px;
    padding-left: 10px;
}

.form-control-email {
    width: 100%;
}

.content1::after {
    content: "\a";
    white-space: pre;
}

.pr-1 {
    padding-right: 15px;
}

.footer-area-icons {
    display: flex;
    justify-content: center;
}